.tabs{
	display: none;
}
.tabBar{
	border: none;
	padding: 15px !important;
}
.tabBar .pagination{
	display: none;
}
.tabBar .inline-block img {
	float: initial;
}
.select_btn_menu{
    border: 1px solid #AAAAAA;
    border-top: 2px solid #787878;
}
.common_btn_menu{
	margin-right: 20px;
    padding: 10px 20px;
    border-bottom: none;
    color: #000;
	font-weight: bold;
	cursor: pointer;
}